/channel-artifacts/*.tx
/channel-artifacts/*.block
/ledgers
/ledgers-backup
/channel-artifacts/*.json
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/supplier/*
organizations/fabric-ca/manufacturer/*
organizations/fabric-ca/distributor/*
organizations/fabric-ca/wholesaler/*
organizations/fabric-ca/retailer/*
organizations/fabric-ca/consumer/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
system-genesis-block/*
*.tar.gz
log.txt
*.code-workspace